[submodule "ext/gl3w"]
	path = ext/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/optixu"]
	path = ext/optixu
	url = https://github.com/shocker-0x15/OptiX_Utility.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/cubd"]
	path = ext/cubd
	url = https://github.com/shocker-0x15/CUBd.git
[submodule "ext/tinyexr"]
	path = ext/tinyexr
	url = https://github.com/syoyo/tinyexr.git
